body{
    font-family: 'Raleway', sans-serif;
    
    display: flex;
    align-items: center;
    
    background-color: #09141f;
    color: #364a5f;
    position: relative;
    margin:0px;
    height:100%;
}
html{
  height:100%;
}
#container{
    display:inline-flex;
    
    align-items: stretch;
    height:fit-content;
   
    top: 0px;
    z-index: 0;
    vertical-align: middle;
    
}

nav{
    
    flex: 1;
    flex-direction: column;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
  }
  
  li {
    
    float: left;
    display: block;
    color: #778da9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li:hover {
    background-color:#17314b ;
  }

#box{
    
    justify-content: center;
    align-items: center;
    margin-left: 40vh;
    margin-right: 40vh;
    text-align: center;
   
    height: 250px;
    
    font-size: 32px;
    overflow-y: hidden;
    display: inline;
    
       
}



    


p{
    margin-top: auto;
    display:inline-flex;
}
.word{
    display: inline-flex;
}
img{
    height:24px;
    width:24px;
}
.pageStyles{
  
  color:#202c3a;
  flex-wrap: wrap;
  
  position: absolute;
  background-color: #9fb6d4;
  z-index: 1;
  width: 50%;
  height:100%;
  top: 0px;
  left: -50%;
  transition: all 0.2s ease-in;
  
  

}
.containerPage{
  max-width: 100%;
  display:inline-flex;
  flex-direction: column;
  align-items:center;
  flex-wrap: wrap;
}

.pageX{
  
  display:inline-flex;
  float: right;
  margin: 10px;
  cursor: pointer;
  height:fit-content;
}


.pageTxtTitle{
  display:inline-flex;
  
  height:fit-content;
  width: inherit;
  flex-direction: column;
  
 
}
.pageTxt{
  flex-wrap: wrap;
  max-width: 100%;
  margin:10px;
  display:inline-flex;
  height:fit-content;
  
}

