body{
    font-family: 'Raleway', sans-serif;
    
    margin-left:20%;
    margin-right:20%;
    
    background-color: #0d1b2a;
    color: #415a77;
    
}

#box{
    
        
    text-align: center;
        
    height: 250px;
    
    font-size: 32px;
    overflow-y: hidden;
        
       
}



    


p{
    margin-top: auto;
    display:inline-flex;
}
.word{
    display: inline-flex;
}

