body{
    font-family: 'Raleway', sans-serif;
    
    display: flex;
    
    flex-direction: column;
    background-color: #09141f;
    color: #49627e;
    position: relative;
    margin:0px;
    height:100%;
    
    
    
}
html{
  height:100%;
  
}
.filter{
  filter: invert(100%) hue-rotate(180deg) brightness(85%);
}

.unFilter{
  filter: invert(100%) hue-rotate(180deg) brightness(100%) !important;
}

#container{
  margin-top:15%;
    display:inline-flex;
    width:fit-content;
    align-items: stretch;
    height:auto;
    
    
    top: 0px;
    z-index: 0;
    vertical-align: middle;
    
    max-height: fit-content;
    
    
}

nav{
    width:100%;
    z-index:1;
    position:initial;
    flex-direction: column;
    display: flex;
   
    justify-content: center;
    
    font-family: 'Poppins', sans-serif;
    
    
}
.navDivs{
  width:100%;
}
ul{
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
 
  }
  
  li {
    
    float: left;
    display: block;
    color: #778da9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  

  

#box{
    
    position:relative;
    
    justify-items: stretch;
   
    height: 250px;
    
    font-size: 32px;
    overflow-y: hidden;
    display: inline;
    
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;

       
    align-self: center;
    margin-right: 280px;
    margin-left: 240px;

}
#refreshBox{
  display:flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.25s ease-in;
  max-height: max-content;
  overflow: auto;
  align-items: center;
}
#refreshDiv{
  margin-top: 10px;
  width:24px;
  height:24px;
  justify-content: center;
  align-self:center;
  background:url('assets/refresh.png');
  background-repeat: no-repeat;
  
}
#refreshDiv:hover{
  background:url('assets/refreshActive.png');
  background-repeat: no-repeat;
}
#timer{
  display:flex;
  margin-bottom: 10px;
  margin-top: 10px;
  width:36px;
  height:36px;
  justify-content: center;
  align-self:center;
  background-color: #2b3c50;
  
  border-radius: 50%;
  padding:6px;
  text-align: center;
  cursor: pointer;
}
#timerNum{
  font-size: 24px;
  align-self: center;
  font-weight: bold;
  vertical-align: middle;
  line-height: 50%;
  color:#778da9;
}
#timerAndSlider{
  
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width:fit-content;
  margin-bottom: 10px;


} 
#boxNav{
  display: flex;
  flex-direction: row;
}
.slider{
  top: 110%;
  max-width: fit-content;
  align-self:center;
  visibility: hidden;
  
  
}  


p{
    margin-top: auto;
    display:inline-flex;
}
.word{
    display: inline-flex;
    
}
img{
    height:24px;
    width:24px;
}
.pageStyles{
  
  
  flex-wrap: wrap;
  color:#a1b0c0;
  position: absolute;
  background-color: #132031;
  z-index: 1;
  width: 50%;
  height:100%;
  top: 0px;
  left: -50%;
  transition: all 0.2s ease-in;
  
  

}
#victoryPage{
  
  z-index:1;  
  background-color:white;
  
  
  flex-direction: column;
  align-items: stretch;
  align-self:center;
 
  top: 0px;
  z-index: 0;
  vertical-align: middle;
  height: 75%;
  width:75%;
  margin:auto;
  justify-items: center;
  display:none;
  transition: all 0.4s ease-in;
}
#wpmHead{
  flex-direction: row;
  width: fit-content;
}
#accuracyHead{
  flex-direction: row;
  width: fit-content;
}
#victoryPageHeaders{
  display:flex;
  justify-content: space-evenly;
}
#wpm{
  margin-right: 5px;
  display:flex;
  align-items: center;
}


.containerPage{
  width:fit-content;
  height:fit-content;
  display:flex;
  flex-direction: column;
  align-items:center;
  flex-wrap: wrap;
  align-self: center;
}

.pageX{
  
 
  display:inline-flex;
  float: right;
  margin: 10px;
  margin-left:auto;
  cursor: pointer;
  height:fit-content;
  width:fit-content;
}


.pageTxtTitle{
  display:inline-flex;
  
  height:fit-content;
  width: inherit;
  flex-direction: column;
  
 
}
.pageTxt{
  flex-wrap: wrap;
  max-width: 100%;
  margin:10px;
  display:inline-flex;
  height:fit-content;
  
}




h3{
  color:#415a77;
  display:flex;
  align-self: left;
}

#chartDiv{
  width:fit-content;
  display:flex;
  align-self: center;
}
#wpmStarBox{
  display:flex;
  flex-direction:row;
}
#wpmStar{
  display: none;
}


#navBeta{
  display:flex;
  flex-direction:row;
  align-items: baseline;
}
#signInBtn{
  display:none;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-end;
  padding:10px;
  color: #778da9;
}
#signInPage{
  
  margin-top:40px;
  margin-bottom: 40px;
  padding:40px;
  width: 70%;
  height: 100%;
  background-color:  #778da9;
  z-index:1;
  display:flex;
  border-radius:2%;
  flex-direction: row;
  justify-content:center;
  align-self: center;
}
.profilePic{
  display:none;
  width:25px;
  height:25px;
  border-radius:50%;
  margin:10px;
}
.profileX{
  display:flex;
  max-width:25px;
  
  
  max-height:fit-content;
  border-radius:50%;
  margin:10px;
  margin-right:auto;  
  
  
  
  cursor: pointer;
  
}
#profilePage{
  color:#a1b0c0;
  flex-wrap: wrap;
  display:flex;
  position: absolute;
  background-color: #132031;
  z-index: 23;
  width: 50%;
  height:100%;
  top: 0px;
  left: 100%;
  transition: all 0.2s ease-in;
  flex-direction: column;
}
#signInLink{
  cursor: pointer;
}
.btn{
  height:fit-content;
  display:flex;
  
}