

:root {
  --liColor:#778da9;
  --timerBg:#D7B19D;
  --h3Color: #415a77;
  --sectionBg: #e7e7e7;
}



#container {
  padding-top: 20vh;
  
  display: inline-flex;
  width: fit-content;
  align-items: stretch;
  min-height: 80vh;

  top: 0px;
  z-index: 0;
  vertical-align: middle;

  max-height: fit-content;
}

nav {
  width: 100%;
  z-index: 1;
  
  flex-direction: column;
  display: flex;
  margin-top:5vh;
  justify-content: center;
  
  font-family: "Poppins", sans-serif;
}
.navImg{
  width:18px;
  height:18px;
}

ul {
  display:flex;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
 
  
  justify-content:center;
  height:auto;
  align-self: flex-start;
 
  position: sticky;
  top:10px;
}

li {
  float: left;
  display: block;
  color: #778da9;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  max-height: fit-content;
}

.bold{
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

.flashingLogo {
  opacity:1;
  animation: blinker 1s step-start infinite;
  
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#box {
  position: relative;

  justify-items: stretch;

  height: 250px;

  font-size: 32px;
  overflow-y: hidden;
  display: inline;

  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;

  align-self: center;
  margin-right: 15vw;
  margin-left: 15vw;
}
#refreshBox {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: all 0.25s ease-in;
  max-height: max-content;
  
  align-items: center;
}
#refreshDiv {
  
 
  justify-content: center;
  align-self: center;
  background: url("../assets/refresh.png");
  background-size:18px 18px;
  background-repeat: no-repeat;
 
}

#timer {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-self: center;
  background-color: var(--timerBg);

  border-radius: 50%;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}
#timerNum {
  font-size: 24px;
  align-self: center;
  font-weight: bold;
  vertical-align: middle;
  line-height: 50%;
  
}
#timerAndSlider {
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin-bottom: 10px;
}

.slider {
  top: 110%;
  max-width: fit-content;
  align-self: center;
  visibility: hidden;
}
h2 h3 {
  display: flex;
  color: white;

  padding: 3%;
}
#box > div > p {
  margin-top: auto;
 
}
.word {
  display: inline-flex;
}
img {
  height: 24px;
  width: 24px;
}
.pageStyles {
  display:flex;
 
  
  

  z-index: 1;
  
  min-height:50vh !important;
  
  
  flex-direction: column;
  
  transition: all 0.2s ease-in;
  
}
.settingPage{
  left: -50%;
}
.contactPage{
  left: -50%;
}
.accountPage{
  left: -50%;
}
#victoryPage {
  z-index: 1;
  background-color: white;

  flex-direction: column;
  align-items: stretch;
  align-self: center;

  top: 0px;
  z-index: 0;
  vertical-align: middle;
  min-height: 60vh;
  width: 75%;
  margin: auto;
  justify-items: center;
  display: none;
  transition: all 0.4s ease-in;
  margin-top:20vh;
  margin-bottom:20vh;
}
#wpmHead {
  flex-direction: row;
  width: fit-content;
}
#accuracyHead {
  flex-direction: row;
  width: fit-content;
}
#victoryPageHeaders {
  display: flex;
  justify-content: space-evenly;
}
#wpm {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.containerPage {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.pageTxtTitle {
  display: inline-flex;

  height: fit-content;
  width: inherit;
  flex-direction: column;
}
.pageTxt {
  flex-wrap: wrap;
  max-width: 100%;
  margin: 10px;
  display: inline-flex;
  height: fit-content;
}




h3 {
  color: var(--h3Color);
  display: flex;
  align-self: left;
}
#chartDiv {
  width: fit-content;
  display: flex;
  align-self: center;
}
#wpmStarBox {
  display: flex;
  flex-direction: row;
}
#wpmStar {
  display: none;
}

#navBeta {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.profilePic {
  display: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px;
}
.profileX {
  display: flex;
  max-width: 25px;

  max-height: fit-content;
  border-radius: 50%;
  margin: 10px;
  

  cursor: pointer;
}
.beside{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#profilePage {
  color: #a1b0c0;
  flex-wrap: wrap;
  display: none;
  position: absolute;
  background-color: #132031;
  z-index: 23;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 100%;
  transition: all 0.2s ease-in;
  flex-direction: column;
}
#signInLink {
  cursor: pointer;
}
#signInBtn{
  cursor: pointer;
  display:flex;
  width:fit-content;
  align-self: flex-end;
}

.navText{
  display:none;
}

/* android */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (orientation: portrait) {
  #timerAndSlider, #box, #refreshDiv, h1,h3{
    display:none ;
  }
  .logo{
    display:block;
  }
  #container,#boxNav,nav,.nav-links,#refreshBox{
    width:100% ;
    height:fit-content;
  }
  #container{
    min-height: fit-content;
    padding-top:2vh;
  }
  .navDivs{
    display:flex ;
    height:fit-content ;
    justify-content: center ;
  }
  .navText{
    display:flex ;
    height:100% ;
    margin:0vh ;
    align-items: center;
  }
  li{
    padding:0px ;
    margin: 2vh;
  }
  ul{
    display:flex;
    flex-direction:column ; 
  }
  
  .pageStyles{
    top: auto ;
    left:0vw ;
    position: relative ;
    top:0% ;
    width: 100% ;
    background-color: #142335 ;
    
  }
  
}
/* iphones */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (orientation: portrait) {
    #timerAndSlider, #box, #refreshDiv, h1,h3{
      display:none ;
    }
    .logo{
      display:block;
    }
    #container,nav,#refreshBox{
      width:100% ;
      height:fit-content;
      
    }
    #container{
      min-height: fit-content;
      padding-top:2vh;
    }
    .navDivs{
      display:flex ;
      height:fit-content ;
      justify-content: center ;
    }
    .navText{
      display:flex;
      height:100% ;
      margin:0vh ;
      align-items: center;
    }
    li{
      padding:0px ;
      margin: 2vh;
    }
    ul{
      display:flex;
      flex-direction:column ; 
    }
   
    .pageStyles{
      top: auto ;
      left:0vw ;
      position: relative ;
      top:0%;
      width: 100%;

      
    }
    #boxNav{
      width:100% ;
    }
}






#refreshTxt{
  visibility:hidden;
  font-size: x-small;
  background-color: black;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  min-width: fit-content;
  flex-wrap: nowrap;
  position: absolute; 
  opacity: 0.5;
  margin-top: 1.5%;
}
.settingsOption{
  display:flex;
  flex-direction: row;
  width:60vw;
  height:10vh;
  background-color:rgb(231, 229, 229);
  justify-content: space-between;
  align-items: center;
  padding:2vh;
  padding-left:4vw;
  padding-right:4vw;
  border-radius:2vh;
  margin-bottom: 2vh;
  
}


section{
  background-color: var(--sectionBg);
  padding: 5vh;
  padding-left:25vw;
  padding-right:25vw;
  padding-bottom: 0;
  margin-bottom: 5vh;
  box-shadow: 1px 1px black;

  border-radius: 5px;
}
.pageHeader{
  
 
  

  display:flex;
  justify-content: center;
}

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}



