
:root {
  --bodyBg:#007275;
  --bodyColor:#412319;
  --footerBg:#D7B19D;
}


body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  
  display: flex;
  flex-direction: column;
  background-color: var(--bodyBg);
  color: var(--bodyColor);
  position: relative;
  margin: 0px;
  scroll-behavior: smooth;
  overflow:visible;
  
  
  
  max-width: 100%;
}
footer{
  background-color:var(--footerBg);
  padding:2vh;
  opacity: 0.5;
}
html {
  scroll-behavior: smooth;
  min-height: 100%;
  max-width: 100%;
  
}
.pageX {
  
  width: 100%;
  display: inline-flex;
  
  margin: 10px;
  align-self: flex-end;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}
.filter {
  filter: invert(100%) hue-rotate(180deg) brightness(85%);
}

.unFilter {
  filter: invert(100%) hue-rotate(180deg) brightness(100%) !important;
}

.btn {
  height: fit-content;
  display: flex;
}

.alert {
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  
  display: none;
  z-index: 1000;
}

.closebtn {
  margin-left: 15px;
  margin-right: 50px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.lowerText {
  color: #b9b9b9;
}
